// ==========================================================================
// Icons
// ==========================================================================

// Site title

//.site-title {
//	@include img-replace("logo.svg", 115px, 45px, inline-block);
//}

.site-title {
  font-size: 2em;
  height: 60px;
  display: inline-block;
  line-height: 60px;
  @include mq(small) {
    font-size: 1.6em;
  }
}

// UI

.icon {

	// Nav Toggle
	@include m(nav-toggle) {
		@extend %icon-ui;
		float: right;
		height: 60px;
		display: block;
		font-size: 20px;
	}

	// Close
	@include m(close) {
		@extend %icon-ui;
		position: absolute;
		right: 4%;
		top: 4%;
	}
}

.icon-nav-toggle::after {
    content: "";
    font-family: FontAwesome;
    vertical-align: middle;
}

.icon-nav-toggle::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}