// ==========================================================================
// Navbar
// ==========================================================================

.navbar {	
	position: relative;
	@include mq(medium) { 
		margin-top: em(20px);
		margin-bottom: 0;
	}
}